<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medhelp - Ferramenta médica para ajudar no diagnóstico</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-top {
    background-color: rgb(236, 236, 236);
    width: 50%;
    padding: 40px;
    text-align: center;
    font-family: 'Montserrat';
}

h2 {
    font-weight: bold;
    font-size: 5vh;
}

p {
    color: grey;
}

</style>
<body>
    <div class="login-top">
        <form action="submit" method="POST"> {% csrf_token %}
            <h2>Medhelp</h2>
            <p>Uma ferramenta para ajudar no diagnóstico médico de doenças.</p>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text", class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

            <div>
                {% for message in messages %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ message }}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
        </form>
    </div>
</body>
</html>