<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<style>

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    background-color: rgb(236, 236, 236);
}



.form-list {
    background-color: white;
    width: 70%;
    display: block;
    padding: 40px;
    text-align: center;
}

.forms {
    margin: 0 auto;
    
}

</style>
<body>
<h1>
    {% block tituloPagina %}

    {% endblock %}
</h1>
<hr>
<div class="forms">
    {% block content %}
    
    {% endblock %}
</div>

</body>
</html>