<div class="form-list">
{% extends 'base.html' %}

{% block title %}
Remoção de Doença
{% endblock title %}

{% block tituloPagina %}
Remoção de Doença
{% endblock tituloPagina %}

{% block content %}
<form method="post">{% csrf_token %}
    <h5>Tem certeza que deseja excluir a doença cadastrada?: "{{ doenca.nome }}"?</h5>
    <br/>
<a href="{% url 'listar_doencas' %}">
    <button type="submit" class="btn btn-primary">
        Remover
    </button>
</a>
<a href="{% url 'listar_doencas' %}">
    <button type="submit" class="btn btn-primary">
        Voltar
    </button>
</a>
</form>

{% endblock content %}
</div>