<div class="form-list">
    {% extends 'base.html' %}
    {% load bootstrap3 %}
    {% block title %}
    Cadastro de doenças
    {% endblock title %}

    {% block tituloPagina %}
    Cadastro de Doenças
    {% endblock tituloPagina %}

    {% block content %}

    <form method="post">
            {% csrf_token %}
        {% bootstrap_form form %}
    <div>
        <a>
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
        </a>
        <form method="post">
    </div>
    </form>
    
       
        <a href="{% url 'listar_doencas' %}">
        <div>
            <button type="submit" class="btn btn-primary">
                Voltar
            </button>  
        </div>
        </a>
    
    {% endblock content %}

</div>