<div class="form-list">
    {% extends 'base.html' %}

    {% block title %}
    Doenças cadastrados
    {% endblock title %}

    {% block tituloPagina %}
    Doenças Cadastrados
    {% endblock tituloPagina %}

    {% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sintomas</th>
                <th>Prevenção</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for doenca in lista %}
            <tr>
                <td> {{ doenca.nome }}</td>
                <td> {{ doenca.sintomas }}</td>
                <td> {{ doenca.prevencao }}</td>
                <td> {{diagnostico}}</td>
                <td>
                    <a href="{% url 'doenca_edit' pk=doenca.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{% url 'doenca_remove' pk=doenca.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'doenca_new' %}">
        <button type="submit" class="btn btn-primary">
            Cadastrar
        </button>
    </a>
    <a href="{% url 'listar_pacientes' %}">
        <button type="submit" class="btn btn-primary">
            Voltar
        </button>
    </a>
    

    {% endblock content %}
</div>