<div class="form-list">
    {% extends 'base.html' %}

    {% block title %}
    Pacientes cadastrados
    {% endblock title %}

    {% block tituloPagina %}
    Pacientes Cadastrados
    {% endblock tituloPagina %}

    {% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Cadastramento</th>
                <th>Diagnóstico</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in lista %}
            <tr>
                <td> {{ paciente.nome }}</td>
                <td> {{ paciente.cpf }}</td>
                <td> {{ paciente.dataCadastramento }}</td>
                <td> {{ paciente.diagnostico.doenca.nome }}</td>
                <td>
                    <a href="{% url 'paciente_edit' pk=paciente.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{% url 'paciente_remove' pk=paciente.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'paciente_new' %}">
        <button type="submit" class="btn btn-primary">
            Cadastrar
        </button>
    </a>
    <a href="{% url 'listar_doencas' %}">
        <button type="submit" class="btn btn-primary">
            Gerenciar doenças
        </button>
    </a>
    <a href="{% url 'logout' %}">
        <button type="submit" class="btn btn-primary">
            Logout
        </button>
    </a>
    {% endblock content %}
</div>