<div class="form-list">
{% extends 'base.html' %}

{% block title %}
Remoção de Pacientes
{% endblock title %}

{% block tituloPagina %}
Remoção de Pacientes
{% endblock tituloPagina %}

{% block content %}
<form method="post">{% csrf_token %}
    <h5>Tem certeza que deseja escluir o paciente cadastrado: "{{ paciente.nome }}"?</h5>
    <br/>
<button type="submit" class="btn btn-primary">
    Remover
    <a href="{% url 'listar_pacientes' %}">
        <div>
        <button type="submit" class="btn btn-primary">
            Voltar
        </button>
        </div>
    </a>
</form>

{% endblock content %}
</div>