<div class="form-list">
    {% extends 'base.html' %}
    {% load bootstrap3 %}
    {% block title %}
    Cadastro de pacientes
    {% endblock title %}

    {% block tituloPagina %}
    Cadastro de Pacientes
    {% endblock tituloPagina %}

    {% block content %}

    <form method="post">
            {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        
    </form>
    <a href="{% url 'listar_pacientes' %}">
        <button type="submit" class="btn btn-primary">
            Voltar
    </button>
    </a>
    {% endblock content %}
</div>